/*Login  header */

.login-header {
  background-color: #0e4f82;
  padding: 20px 0;
}

.loginmenu {
  width: 100%;
}

.loginmenu ul {
  display: flex;
  gap: 15px;
}

.loginmenu ul li a {
  cursor: pointer;
  font-size: 14px;
  color: #fff;
  font-weight: 600;
}

/* login */
.login-container {
  height: calc(100vh - 84px);
  background-size: cover;
  background-position: center;
  position: relative;
}

.login-maincontainer {
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  height: calc(100% - 0px);
}

.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  height: calc(100% - 0px);
}

.left-section {
  color: white;
  max-width: 600px;
}

.left-section h1 {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 20px;
}

.left-section p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 15px;
  line-height: 24px;
}

.left-section small {
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 15px;
}

.left-section small strong {
  font-weight: 700;
}

.left-section .social-icons {
  display: flex;
  font-size: 18px;
  font-weight: 400;
  align-items: center;
  margin-top: 15px;
}

.options-row.marginbottom0 {
  margin-bottom: 5px !important;
}

.right-section {
  background-color: white;
  padding: 30px 30px;
  border-radius: 15px;
  width: 430px;
}

.right-section.no-gstin {
  width: 100%;
}

.left-section.no-gstin {
  display: none;
}

.right-section.no-gstin .form-row {
  display: flex;
  gap: 15px;
  margin-bottom: 0px;
  flex-wrap: wrap;
}

.right-section.no-gstin .form-group {
  flex: 1;
  min-width: 200px;
}

.login-form-box {
  display: flex;
  flex-direction: column;
}

.login-box {
  width: 100%;
}

.login-box h2 {
  margin-bottom: 50px;
  font-weight: 700;
  color: #000;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 24px;
}

.login-box h2.marginbottom10 {
  margin-bottom: 30px !important;
}

select.full-input option[disabled] {
  color: #999 !important;
}

.ba-dropdown-container {
  position: relative;
  width: 100%;
  font-size: 14px;
}

.ba-dropdown-toggle {
  padding: 10px 12px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  background: #f5f5f5;
  border: none;
  padding: 12px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  color: #000;
  outline: none;
  height: 50px;
}

.ba-arrow-icon {
  transition: transform 0.2s;
}

.ba-rotate {
  transform: rotate(180deg);
}

.ba-dropdown-menu {
  position: absolute;
  width: 100%;
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 5px;
  max-height: 200px;
  overflow-y: auto;
  display: none;
  z-index: 999;
}

.ba-dropdown-menu.open {
  display: block;
}

.ba-dropdown-options {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ba-dropdown-item {
  padding: 10px 12px;
  cursor: pointer;
}

.ba-dropdown-item:hover {
  background-color: #f1f1f1;
}

.ba-dropdown-item.selected {
  font-weight: bold;
  background-color: #e8f0fe;
}

.ba-check-icon {
  float: right;
  color: green;
}

.ba-dropdown-toggle.placeholder {
  color: #c8c8c8;
}

/* Phone Input */
.phone-input {
  display: flex;
  align-items: center;
  background: #f5f5f5;
  padding: 12px;
  border-radius: 10px;
  gap: 8px;
  height: 50px;
}

.phone-input .flag {
  width: 30px;
  height: 30px;
}

.phone-input .dial-code {
  font-weight: 600;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  padding-left: 7px;
  color: #000;
}

.phone-input input {
  border: none;
  outline: none;
  flex: 1;
  background: transparent;
  font-weight: 500;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  color: #000;
}

.phone-input input::placeholder {
  opacity: 0.4;
}

.countri-dropdown-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.countri-dropdown-wrapper .countri-arrow {
  margin-left: 4px;
  font-size: 10px;
  color: #333;
}
.countri-arrow-icon {
  margin-left: 6px;
  font-size: 16px;
  color: #333;
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1); /* smoother motion */
  transform: rotate(0deg);
}
.countri-arrow-icon.rotate {
  transform: rotate(180deg);
}

.countri-dropdown-menu {
  position: absolute;
  top: 35px;
  left: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  z-index: 100;
  padding: 5px 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  width: 100px;
}

.countri-dropdown-menu li {
  display: flex;
  align-items: center;
  padding: 6px 10px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.countri-dropdown-menu li:hover {
  background-color: #f0f0f0;
}

.countri-dropdown-menu img {
  width: 20px;
  height: 14px;
  margin-right: 6px;
}

/* Input row */
.input-row {
  margin-bottom: 10px;
}

.full-input {
  width: 100%;
  background: #f5f5f5;
  border: none;
  padding: 12px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  color: #000;
  outline: none;
  height: 50px;
}

.full-input::placeholder {
  opacity: 0.4;
}

/* OTP row */
.otp-row {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin: 10px 0 15px;
  color: #000;
  font-family: "Poppins", sans-serif;
}

a.left-link,
a.right-link {
  cursor: pointer;
  font-weight: 500;
  color: #000;
  font-family: "Poppins", sans-serif;
}

/* Options row */
.options-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  margin-bottom: 30px;
  color: #000;
  font-family: "Poppins", sans-serif;
}

.options-row label {
  display: flex;
}

.options-row a {
  color: #000;
  font-family: "Poppins", sans-serif;
}

.options-row input[type="checkbox"] {
  margin-right: 6px;
}

/* Button */
.login-btn {
  width: 100%;
  padding: 12px;
  background-color: #004080;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  font-weight: 600;
  height: 50px;
  margin-top: 15px;
}

/* Register */
.register-text {
  text-align: center;
  margin-top: 15px;
  font-size: 13px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.register-text a {
  color: #004d84;
  text-decoration: none;
}

.login-box .form-group {
  margin-bottom: 15px;
}

/* header */

.main-header {
  width: 100%;
}
.top-header {
  background-color: #0e4f82;
  padding: 30px 0;
}

.top-headerMid {
  display: flex;
  max-width: 630px;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.search-container {
  position: relative;
  width: 500px;
  height: 40px;
}

.search-container input {
  width: 100%;
  padding: 10px 36px 10px 12px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
  font-family: "Roboto", sans-serif;
  height: 40px;
  color: #444444;
}

.search-container input::placeholder {
  color: #c8c8c8;
}

.searchIcon {
  position: absolute;
  right: 15px;
  top: 48%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  pointer-events: none;
}

.clear-x {
  position: absolute;
  right: 12px;
  top: 53%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #666;
  font-size: 16px;
  background: #fff;
  width: 20px;
  text-align: center;
  height: 20px;
}

.contact-info {
  text-align: right;
  font-size: 14px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
}
.contact-info span {
  font-weight: 500;
  font-size: 10px;
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 18px;
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0;
}

.icon-btn img {
  width: 22px;
  height: 22px;
}

.badge {
  position: absolute;
  top: -6px;
  right: -6px;
  background-color: #fecd43;
  color: black;
  font-weight: 600;
  font-size: 10px;
  padding: 2px 6px;
  border-radius: 2px;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.cart-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  font-size: 14px;
  margin-left: 6px;
}

.cart-price {
  font-weight: 700;
  font-size: 14px;
}

.cart-label {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 2px;
}

.cart-item .badge {
  left: 12px;
  right: auto;
  top: -1px;
}

/* search */

.search-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 5%;
}

.search-modal {
  width: 90%;
  max-width: 600px;
  position: relative;
}

/* Input Wrapper */
.search-input-wrapper {
  background: #004d84;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 0 10px;
  height: 55px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.search-input-wrapper input {
  flex: 1;
  border: none;
  background: transparent;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
  outline: none;
}

.search-input-wrapper input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.clear-x {
  color: white;
  cursor: pointer;
  font-size: 20px;
  margin-left: 8px;
  opacity: 0.8;
}

.clear-x:hover {
  opacity: 1;
}

/* Close Button */
.close-btn {
  /* position: absolute; */
  top: 12px;
  right: 15px;
  background: white;
  color: #d70000;
  border: none;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Results Wrapper - No animations */
.results-wrapper {
  padding: 20px;
  margin-bottom: 0px;

  max-height: 50vh;
  overflow-y: auto;
}

.results-wrapper h2 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
}

.results-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.result-item {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 0px;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
}

.result-item img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px 0 0 8px;
  margin-right: 14px;
}

.result-item-product-info {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 15px;
}

.result-item-product-info p {
  margin: 0;
  font-size: 15px;
  color: #333;
}

.result-item-product-info .price {
  font-size: 14px;
  margin-top: 4px;
}

.result-item-product-info .price del {
  color: #999;
  margin-right: 8px;
}

.result-item-product-info .discount {
  color: green;
  font-weight: 600;
}

.arrow-btn {
  background: #e5f0ff;
  border: none;
  border-radius: 50%;
  padding: 8px;
  color: #0f66dd;
  cursor: pointer;
  width: 30px;
  height: 30px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-results {
  padding: 20px;
  text-align: center;
  color: #666;
  font-size: 16px;
}

/* Scrollbar styling */
.results-wrapper::-webkit-scrollbar {
  width: 6px;
}

.results-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.results-wrapper::-webkit-scrollbar-thumb {
  background: #004d84;
  border-radius: 10px;
}

.highlight {
  color: #004d84;
  font-weight: 600;
  text-decoration: underline;
}

/*  header nav-bar */

.nav-bar {
  background: #fff;
  padding: 15px 0;
  z-index: 9999;
  position: relative;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}
.category-btn {
  background-color: #004d84;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 170px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  gap: 10px;
  font-size: 14px;
  font-weight: 600;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}
.nav-links li {
  align-items: center;
}
.nav-links li a {
  cursor: pointer;
  font-size: 14px;
  color: #000000;
  font-weight: 600;
  display: flex;
  gap: 8px;
  align-items: center;
}
.nav-links li a img {
  width: 18px;
  height: 18px;
}

.language-select {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
}

.language-selector {
  position: relative;
  margin: 0 0 0 10px;
}

.language-selector .language-toggle {
  display: flex;
  align-items: center;
  background: white;
  border: none;
  border-radius: 4px;
  padding: 8px 10px;
  cursor: pointer;
  outline: none;
}

.arrow-icon {
  width: 14px;
  transition: transform 0.3s ease;
}

.arrow-icon.rotate {
  transform: rotate(180deg);
}

.language-selector .language-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 125px;
  padding: 0;
  border-radius: 7px;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.4s ease-in-out;
  z-index: 100;
  margin-top: 15px;
}

.language-selector .language-dropdown.open {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.language-selector .language-option {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  color: #434854;
}

.language-selector .language-option .flag {
  width: 20px;
  height: 14px;
  margin-right: 8px;
  object-fit: cover;
}

.language-selector .language-option:hover {
  background-color: #0e4f82;
  color: #fff;
}
.language-option.selected {
  background-color: #0e4f82;
  color: #fff;
}

.language-toggle .language-name {
  margin-right: 15px;
  margin-left: 5px;
  font-size: 13px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  color: #434854;
}
.language-selector .language-toggle .flag {
  width: 24px;
  height: 18px;
  margin-right: 8px;
  object-fit: cover;
}

/* Mega Menu */

.mega-menu-section {
  height: 0;
}

.mega-menu-wrapper {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  background: white;
  visibility: hidden;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.3s ease;
  z-index: 100;
  padding-top: 25px;
}

.mega-menu-wrapper.open {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.mega-menu-overlay {
  position: fixed;
  top: 130px; /* Adjust based on your header height */
  left: 0;
  width: 100%;
  height: calc(100vh - 130px); /* Full screen minus header */
  background-color: rgba(0, 0, 0, 0.4); /* Dimmed background */
  z-index: 998;
}

.mega-menu-wrapper {
  position: relative;
  z-index: 999; /* Above the overlay */
}

.mega-menu-inner {
  width: 100%;
}

.mega-menu-wrapper {
  position: relative;
  background: #fff;
  font-family: sans-serif;
}

.category-toggle {
  background-color: #004e89;
  color: white;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.mega-menu {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
  padding-bottom: 30px;
}

.menu-tabs-top,
.menu-tabs-bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.menu-tab {
  flex: 1 1 15%;
  margin: 0;
  padding: 12px 0px 12px 10px;
  background-color: #fff;
  border: 1px solid #c8c8c8;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: start;
  outline: none;
  gap: 10px;
}

.IconBox {
  width: 35px;
  height: 35px;
  background-color: #fff;
  border-radius: 40px;
  box-shadow: 0 5px 10px #b6b6b640;
  display: flex !important;
  transition: 0.3s;
  align-items: center;
  justify-content: center;
}

.menu-tab .IconBox img {
  height: 21px;
}

.menu-tab span {
  font-size: 13px;
  font-weight: 600;
  color: #000000;
}

.menu-tab.active img {
  filter: brightness(0) invert(1);
}

.menu-tab.active {
  border-color: #fff;
  box-shadow: 0 5px 10px #b6b6b640;
}

.menu-tab.active .IconBox {
  background-color: #004d84;
  color: #fff;
}

.arrow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.arrow-bottom {
  bottom: -6px;
  width: 0;
  height: 0;
  border-left: 22px solid transparent;
  border-right: 22px solid transparent;
  border-top: 16px solid #fff;
}

.arrow-top {
  top: -6px;
  width: 0;
  height: 0;
  border-left: 22px solid transparent;
  border-right: 22px solid transparent;
  border-bottom: 16px solid #fff;
}

.menu-body {
  display: flex;
  gap: 20px;
  padding: 20px;
  box-shadow: 0 5px 10px #b6b6b640;
  border-radius: 5px;
  margin: 10px 0;
}

.menu-items {
  flex: 0 0 65%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  border-right: 1px solid #c8c8c8;
  padding-right: 30px;
}

.menu-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-item-img {
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;
}

.menu-item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu-item span {
  font-size: 11px;
  color: #000;
  font-weight: 400;
}

.badge-new {
  background-color: #d70000;
  color: #fff !important;
  font-size: 10px !important;
  padding: 3px 9px;
  border-radius: 10px;
  margin-left: auto;
  font-weight: 600;
}

.menu-image {
  flex: 0 0 33%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

/* cartslide */

/* Cart Overlay */
.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease;
  pointer-events: none;
  z-index: 9998;
}
.cart-overlay-show {
  background-color: rgba(0, 0, 0, 0.4);
  pointer-events: auto;
}

/* Slide Panel */
.cart-panel {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 1100px;
  height: 100%;
  background: #fff;
  z-index: 9999;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
  box-shadow: -4px 0 12px rgba(0, 0, 0, 0.15);
}
.cart-panel.slide-in {
  transform: translateX(0%);
}
.cart-panel.slide-out {
  transform: translateX(100%);
}

.cart-panel-header {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 18px;
}

/* Close button */
.cart-close-btn {
  background: white;
  color: #d70000;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

/* Cart Wrapper Layout */
.cart-wrapper {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.cart-left {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

.cart-summary {
  width: 300px;
  padding: 20px;
  background-color: #f8f8f8;
  border-left: 1px solid #e0e0e0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.cart-summary-content {
  flex: 1;
  overflow-y: auto;
}

.cart-summary-content h3 {
  font-size: 20px;
  color: #000000;
  font-weight: 600;
  margin-bottom: 20px;
}

.cart-summary-content label {
}

/* Footer Section */

.footer-wrapper {
  font-family: Arial, sans-serif;
  background-color: #004b87;
  color: #fff;
}

.footer-top {
  padding: 30px;
  background: #fff;
}

.footerTopInner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.feature-box {
  display: flex;
  align-items: center;
  gap: 15px;
}

.feature-box img {
  width: 36px;
  height: 36px;
}

.feature-box-info h4 {
  color: #000000;
  font-size: 17px;
  font-weight: 600;
  margin: 0 0 5px 0;
  font-family: "Roboto", sans-serif;
}

.feature-box-info p {
  color: #c8c8c8;
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 0 0;
  font-family: "Roboto", sans-serif;
}

.footer-main {
  padding: 40px 30px;
}

.footer-main-inner {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1.5fr;
  gap: 30px;
}

.footer-col h3 {
  margin-bottom: 18px;
  font-size: 17px;
  color: #fff;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

.footer-col h2 span {
  color: #fdb813;
}

.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-col ul li {
  margin-bottom: 15px;
  cursor: pointer;
}

.footer-col ul li a {
  cursor: pointer;
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.footer-col p {
  margin: 10px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.company p {
  color: #fff;
  font-weight: 400;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-family: "Roboto", sans-serif;
}

.footer-col.company h3 {
  margin-bottom: 0px;
  font-size: 17px;
  color: #fff;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

.company label {
  color: #bebcbc;
  font-weight: 400;
  margin-bottom: 10px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.subscribe-box {
  display: flex;
  margin-top: 10px;
  height: 40px;
}

.subscribe-box input {
  padding: 8px;
  border: none;
  outline: none;
  width: 100%;
  max-width: 200px;
  border-radius: 4px 0 0 4px;
  height: 40px;
  font-family: "Roboto", sans-serif;
}

.subscribe-box input::placeholder {
  color: #c8c8c8;
}

.subscribe-box button {
  padding: 8px 12px;
  background-color: #fecd43;
  color: #000;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  height: 40px;
  font-size: 12px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

.payment-icons {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.payment-icons img {
  height: 30px;
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 25px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.footer-bottom p {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.social-icons img {
  width: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.Endcontainer {
  background: linear-gradient(to bottom, #ffeab0, #e0bd59);
}

.floating-buttons {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

/* PowerToolsSlider.css */

.power-tools-section {
  padding: 35px 0px;
}

.power-tools-section-inner {
  width: 100%;
}

.power-tools-section-inner .slick-slider {
  background-color: #fff;
  padding: 5px 2px;
  border-radius: 5px 5px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.section-header h2 {
  font-size: 25px;
  font-weight: 700;
  color: #000;
}

.section-headerLft {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
}

a.all-link {
  font-size: 14px;
  color: #000;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 2px;
}
a.all-link svg {
  font-size: 20px;
}

.product-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 0px;
  min-height: 340px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
  position: relative;
  height: 100%;
  margin: 0 4px;
}

/* Add these styles to your existing CSS */
.product-img {
  position: relative;
  padding-top: 0;
  background: #f5f5f5;
  overflow: hidden;
  height: 170px;
}

.product-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: white;
  border-radius: 5px 5px 0 0;
}

.image-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e0e0e0;
  color: #666;
  font-size: 0.9rem;
}

.wishlist-btn,
.cart-btn {
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 50%;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
}

.wishlist-btn img {
  height: 20px;
  position: relative;
  width: auto;
}

.cart-btn img {
  height: 13px;
  position: relative;
  width: auto;
}

.no-credit-tag {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: #fff;
  font-size: 11px;
  font-weight: 400;
  background: #d70000;
  padding: 5px 13px;
  border-radius: 0 10px 10px 0;
  z-index: 1;
}

.product-info {
  padding: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.product-info h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #000;
}

.prices {
  display: flex;
  gap: 10px;
  margin-bottom: 14px;
  font-size: 15px;
  font-weight: 600;
  color: #000;
}

.old {
  color: #c8c8c8;
  text-decoration: line-through;
  font-size: 16px;
  font-weight: 600;
}

.new {
  color: #009000;
  font-size: 16px;
  font-weight: 600;
}

.discount {
  color: #000000;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 6px;
}

.ratingGrp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.rating {
  font-size: 14px;
  color: #f6b01e;
  margin-bottom: 6px;
}

.delivery img {
  height: 25px;
  margin-bottom: 0;
  display: inline !important;
}

.progress-bar {
  background: #ddd;
  height: 6px;
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 6px;
}

.progress-bar .progress {
  height: 6px;
  background-color: #004aad;
  width: 60%;
  border-radius: 3px;
}

.sold {
  font-size: 13px;
  color: #000;
  font-weight: 500;
}

.arrow-controls {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 10px;
}

.custom-arrow {
  background: #004d84;
  border: none;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #fff;
}

.custom-arrow.disabled {
  cursor: not-allowed;
  background: white;
  color: #000;
}

.product-card .btnGrp {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 8px;
  right: 10px;
  top: 10px;
}

.banner-section {
  display: flex;
  gap: 20px;
  background-color: #f0f0f0;
  padding: 30px 20px;
  background-image: url(../assets/images/BannerBg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-banner {
  flex: 3;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

.banner-slide {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.banner-slide img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 12px;
}

.banner-content {
  position: absolute;
  top: 7%;
  left: 4%;
  color: white;
  max-width: 40%;
  z-index: 2;
}

.banner-content h2 {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.4;
}

.banner-content .highlight {
  color: #42e3cf;
}

.banner-content p {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.6;
}

.banner-btn {
  margin-top: 15px;
  background-color: #fff;
  color: #000;
  border: none;
  padding: 10px 20px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.side-banner {
  flex: 1;
  border-radius: 12px;
  overflow: hidden;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-banner img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.banner-section-inner {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.main-banner .arrow-controls {
  position: absolute;
  bottom: 40px;
  right: 40px;
  margin: 0;
}

.banner-wrapper {
  display: flex;
  gap: 20px;
  height: 500px;
  width: 100%;
}

.offer-section {
  background: #fff !important;
}

.promo-section {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.promo-card {
  flex: 1;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  min-width: 300px;
}

.promo-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.promo-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45); /* Black overlay with 45% opacity */
  z-index: 1;
}

.promo-content {
  position: absolute;
  bottom: 25px;
  left: 25px;
  color: white;
  z-index: 2; /* Above the overlay */
  max-width: 70%;
}

.promo-content h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #fff;
  line-height: 25px;
}

.promo-content p {
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 15px;
}

.promo-content button {
  background-color: white;
  color: black;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.hand-tools-wrapper {
  width: 100%;
  display: flex;
  gap: 20px;
}

.hand-tools-content {
  flex: 3;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

.app-banner {
  flex: 1.5;
  overflow: hidden;
  padding-top: 34px;
}
.app-banner-inner {
  background: #fff;
  border-radius: 5px;
  width: 100%;
  height: 410px;
  display: flex;
  align-items: end;
  justify-content: center;
}

.app-banner-inner img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.brand-carousel-container {
  padding: 20px;
  position: relative;
}

.brand-carousel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.brand-carousel-header h2 {
  font-size: 24px;
  font-weight: bold;
}

.all-brand {
  color: #888;
  cursor: pointer;
  font-size: 14px;
}

.brand-slide {
  padding: 10px;
}

.brand-card {
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  background: #fff;
  padding: 0 10px;
}

.brand-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.brand-card h4 {
  font-size: 16px;
  margin-top: 10px;
  font-weight: bold;
}

.brand-card p {
  font-size: 14px;
  color: #666;
}

.brand-carousel-container .product-img {
  position: relative;
  padding-top: 0;
  background: #fff;
  overflow: hidden;
  height: 200px;
}

.brand-carousel-container .slick-slider {
  background-color: #fff;
  padding: 0;
  border-radius: 0;
}

/* product-listing */

.productListingwrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 65px 0;
}

.sidebarFilters {
  width: 300px;
  padding-right: 20px;
}

.productGrid {
  flex: 1;
  padding-left: 20px;
}

.active-filters {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.active-part {
  width: 100%;
  border: 1px solid #c8c8c8;
  border-radius: 5px;
  padding: 10px;
}
.active-part label {
  font-size: 14px;
  font-weight: 600;
  color: #000;
  margin-bottom: 2px;
  display: block;
}
.active-part .active-tag {
  font-size: 13px;
  font-weight: 600;
  color: #004d84;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.active-part .active-tag button {
  background-color: transparent;
  border: none;
  font-size: 10px;
  margin-left: 5px;
  cursor: pointer;
}

.clear-all-btn {
  width: 100%;
  border: 1px solid #e7e6ea;
  border-radius: 5px;
  background-color: #e7e6ea;
  padding: 10px;
  font-size: 13px;
  font-weight: 600;
  color: #000;
}

.sidebarFilters .filters {
  width: 100%;
  background-color: #fff;
  padding: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-top: 15px;
}
.filter-section {
  border-bottom: 1px solid #e9e9e9;
  padding: 15px;
}
.filter-section h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 600;
  color: #000;
  margin-bottom: 18px;
}

.filter-section h4 .clear-btn {
  background-color: transparent;
  border: none;

  margin-left: 5px;
  cursor: pointer;
  color: #acacac;
  font-size: 13px;
  font-weight: 600;
}

.checkbox-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Customize the label (the container) */
.animated-checkbox {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 4px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #c8c8c8;
}

/* Hide the browser's default checkbox */
.animated-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.animated-checkbox .custom-check {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #fff;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
}

/* When the checkbox is checked, add a blue background */
.animated-checkbox input:checked ~ .custom-check {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.animated-checkbox .custom-check:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.animated-checkbox input:checked ~ .custom-check:after {
  display: block;
}

/* Style the checkmark/indicator */
.animated-checkbox .custom-check:after {
  left: 7px;
  top: 3px;
  width: 2px;
  height: 6px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.animated-checkbox.checked {
  color: #007bff; /* or your preferred blue */
  font-weight: 500;
}

.show-more {
  background: #fff;
  border: none;
  color: #acacac;
  font-size: 13px;
  font-weight: 600;
  padding-top: 15px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.breadcrumb {
  font-size: 14px;
  color: #777;
  margin-bottom: 10px;
}

.breadcrumb .current {
  color: #007bff;
  font-weight: 600;
}

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.product-count {
  font-size: 16px;
  font-weight: 500;
}

.sort-by {
  font-size: 14px;
}

.sort-by select {
  padding: 5px 10px;
  margin-left: 5px;
}

.breadcrumb {
  font-size: 14px;
  margin-bottom: 16px;
}

.product-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-box {
  width: calc(25% - 15px);
}

.product-card:hover {
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  z-index: 2;
  cursor: pointer;
}

.pagination-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
  padding: 10px 20px;
  border-radius: 30px;
  gap: 8px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.pagination-btn {
  padding: 8px 16px;
  background: transparent;
  border: none;
  color: #333;
  font-weight: 500;
  cursor: pointer;
  border-radius: 50%;
  min-width: 40px;
  height: 40px;
  transition: all 0.2s ease;
}

.pagination-btn:hover:not(.active):not(.disabled):not(.dots) {
  background-color: #e2e6ea;
}

.pagination-btn.active {
  background-color: #004d80;
  color: white;
}

.pagination-btn.nav {
  border-radius: 25px;
  background-color: #004d80;
  color: white;
  min-width: 80px;
}

.pagination-btn.nav.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.pagination-btn.dots {
  cursor: default;
  font-weight: bold;
}

/* ProductModal */
.product-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.product-modal-overlay.open {
  background: rgba(0, 0, 0, 0.7);
  opacity: 1;
  visibility: visible;
}

.product-modal-box {
  width: 100%;
  max-width: 960px;
  background: #fff;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  padding: 30px;
  transform: translateY(50px);
  opacity: 0;
  transition: all 0.3s ease;
}

.product-modal-box.open {
  transform: translateY(0);
  opacity: 1;
}

.product-modal-close {
  position: absolute;
  top: 10px;
  right: 20px;
  background: transparent;
  font-size: 28px;
  border: none;
  cursor: pointer;
  color: #000;
  transition: transform 0.2s ease;
}

/* user-profile-layout-wrapper */

/* Wrapper takes full height */
.user-profile-layout-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Fixed Header */
.user-profile-layout-wrapper > .header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 80px; /* adjust as per your header */
}

/* Adjust body to start below header */
.profile-layout-body {
  display: flex;
  flex: 1;
  height: calc(100vh - 80px); /* match header height */
  margin-top: 0px; /* push content below fixed header */
  overflow: hidden;
}

/* Sidebar */
.profile-sidebar {
  width: 295px;
  background-color: #063a72;
  color: white;
  padding: 20px 0px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

/* Main content scrolls */
.profile-main-content {
  flex: 1;
  overflow-y: auto;
  padding: 20px 20px 20px 0;
  background-color: #063a72;
}

/* White inner box */
.profile-page-inner {
  background-color: white;
  border-radius: 10px;
  padding: 20px 25px;
  min-height: 100%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.profile-card {
  background-color: #01468a;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  border: 2px solid #fff;
  gap: 10px;
  width: 90%;
  margin: 0 auto 20px;
}

.user-image {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 0px;
}

.user-info {
  text-align: left;
}

.user-info h3 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 7px;
  color: #fff;
}

.user-info p.party-code {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 600;
  margin: 0 0 2px;
  color: #fff;
}

.user-info p.party-code span {
  color: #fecd43;
}

.user-info p.user-phone {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  color: #fff;
}
.sidebar-menu {
  flex: 1;
  overflow-y: auto;
}

.sidebar-menu-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  opacity: 0.2;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  padding-left: 25px;
}

.sidebar-menu-item::before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5px;
  border-radius: 0 5px 5px 0;
  content: "";
  background: #fff;
  opacity: 0;
  transition: 0.3s;
}

.sidebar-menu-item.active::before {
  opacity: 1;
}

.sidebar-menu-item .menu-icon {
  height: 18px;
}

.sidebar-menu-item .menu-icon img {
  height: 18px;
}
.sidebar-menu-item .menu-title {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 500;
  margin: 0;
  color: #fff;
}
.sidebar-menu-item.active {
  opacity: 1;
}

.sidebar-menu-item:hover {
  opacity: 1;
}

.sidebar-menu-item:hover::before {
  opacity: 1;
}

.logout-section {
}
.logout-btn {
  background: none;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 500;
  margin: 0;
  color: #fff;
}

.logout-btn .menu-icon {
  height: 18px;
}

.logout-btn .menu-icon img {
  height: 18px;
}

.order-table-container {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  overflow-x: auto;
  height: 300px;
  overflow-y: auto;
}

.order-table {
  width: 100%;
  border-collapse: collapse;
  font-family: sans-serif;
  border: none;
}

.order-table th,
.order-table td {
  text-align: left;
}

.order-table th {
  color: #505050;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  border-bottom: 1px solid #c8c8c8;
  padding: 10px 15px;
}

.order-table td {
  color: #505050;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 13px;

  padding: 10px 15px;
}

.order-table tr {
  border-bottom: 1px solid #ededed;
}

.order-table tr:last-child {
  border-bottom: none;
}

.order-link {
  color: #004d84;
  text-decoration: none;
}

.status-badge {
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 500;
  display: inline-block;
}

.status-badge.pending {
  background-color: #fff0d8; /* yellow */
  color: #f79b00;
}

.status-badge.delivered {
  background-color: #ddffdd; /* green */
  color: #009000;
}

.status-badge.cancelled {
  background-color: #f5bfbf; /* red */
  color: #d70000;
}

.actions {
  display: flex;
  gap: 8px;
}

.ordertbl-icon-btn {
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
}

.order-table-hr {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.order-table-hr .order-table-hrLft h2 {
  color: #000;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.order-table-wrapper .pagination-wrapper {
  margin-top: 15px;
}

.show-dropdown-container {
  position: relative;
  width: 100%;
}

.show-dropdown-toggle {
  background: white;
  padding: 10px 12px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  outline: none;
  height: 18px;
  font-size: 15px;
  font-weight: 600;
  color: #004d84;
}

.show-arrow-icon {
  width: 15px;
  margin-left: 8px;
  transition: transform 0.3s ease;
  font-size: 20px;
}

.show-arrow-icon.show-rotate {
  transform: rotate(180deg);
}

.show-dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 0;
  border-radius: 7px;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.3s ease-in-out;
}

.show-dropdown-menu.open {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.show-dropdown-menu .show-no-data {
  padding: 10px;
  text-align: center;
  color: #888;
  font-style: italic;
}

.show-dropdown-item {
  padding: 10px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  color: #434854;
}

.show-dropdown-item:hover {
  background-color: #004d84;
  color: #fff;
}

.show-dropdown-item.selected {
  background-color: #004d84;
  color: #ffffff;
}

/* Scrollbar Styling (Optional) */
.show-dropdown-menu::-webkit-scrollbar {
  width: 10px;
}

.show-dropdown-menu::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
}

.show-dropdown-menu::-webkit-scrollbar-thumb {
  background-color: #8b8b8b;
  border-radius: 10px;
  border: 3px solid transparent;
  background-clip: content-box;
}

.show-dropdown-menu::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}

.ShowEntries-dropdown {
  display: flex;
  align-items: center;
}

.ShowEntries-dropdown label {
  color: #c8c8c8;
  font-size: 16px;
  font-weight: 600;
}

.order-details {
  width: 100%;
}

.orderdetailsHr {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  display: flex;
  margin-bottom: 20px;
}

.breadcrumb {
  color: #000;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.breadcrumb a {
  color: #004d84;
}

.breadcrumb span {
  color: #004d84;
}

.invoice-btn {
  border: none;
  outline: none;
  cursor: pointer;
}

.order-section {
  background: #fff;
  border-radius: 8px;
  padding: 0;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.order-section h3 {
  background-image: linear-gradient(to right, #004d84, #8cbfe4);
  padding: 15px;
  border-radius: 8px 8px 0 0;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.status {
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 500;
  display: inline-block;
}

.status.approved {
  background-color: #ddffdd; /* green */
  color: #009000;
}

.status.pending {
  background-color: #fff0d8; /* yellow */
  color: #f79b00;
}

.order-info-grid {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.order-info-gridLft {
  width: 50%;
}
.order-info-gridRgt {
  width: 50%;
}

.order-box {
  width: 100%;
  background: #fff;
  border-radius: 8px;
  padding: 0;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.order-box h4 {
  background-image: linear-gradient(to right, #004d84, #8cbfe4);
  padding: 15px;
  border-radius: 8px 8px 0 0;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.order-box-inner {
  width: 100%;
  padding: 20px;
}

.order-box-inner p {
  color: #000;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  margin-bottom: 8px;
  line-height: 20px;
}

.order-box-inner p label {
  font-weight: 700;
}
.order-box-inner p span {
  text-align: right;
}

.order-box-inner.amount-box p {
  display: flex;
  justify-content: space-between;
}

.order-box-inner.amount-box p.total-price {
  color: #065186;
  font-weight: 700;
}

.timeline {
  position: relative;
  max-width: 100%;
  margin-left: 0;
  margin-top: 20px;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #fff;
}

.milestone {
  position: relative;
  padding-left: 35px;
  margin-bottom: 0;
  padding-bottom: 20px;
}

.milestone::before {
  content: "";
  position: absolute;
  left: 2px;
  top: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #e0e0e0;
  border: 2px solid #b5b5b5;
  z-index: 1;
}

.milestone::after {
  content: "";
  position: absolute;
  left: 10px;
  top: 0px;
  width: 2px;
  height: 100%;
  background-color: #fff;
}

.milestone.completed::before {
  content: "✓";
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9px;
  color: white;
  background-color: #009000;
  border: 2px solid #009000;
}

.milestone.completed::after {
  background-color: #009000;
}

.milestone.pending::before {
  background-color: #fff;
}

.milestone:last-child::after {
  display: none;
}

.milestone-title {
  color: #000;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 11px;
}

.milestone-date {
  color: #000;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-size: 11px;
}

.milestone-location {
  color: #000;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-size: 11px;
}

.milestone.completed .milestone-title {
  color: #009000;
}
.milestone.pending .milestone-title {
  color: #f79b00;
}
.milestone .milestone-info {
  display: flex;
  gap: 5px;
  margin-bottom: 2px;
}

.milestone.completed.laststatus::after {
  background-color: #fff;
}
.milestone.pending .milestone-location {
  color: #f79b00;
}

.logout-section {
  padding: 0 20px;
}
